.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

input,
textarea {
  max-width: 10vw;
}

button {
  cursor: pointer;
}

.add {
  background-color: transparent;
  border: none;
  width: 1rem;
}

.submit {
  width: 3rem;
}

label.vote {
  display: flex;
  flex-direction: row;
}

.add_button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
